ECOCIENTE_DB_HOST=host
ECOCIENTE_DB_PORT=port
ECOCIENTE_DB_NAME=user
ECOCIENTE_DB_USER=avnadmin
ECOCIENTE_DB_PASSWORD=password
ECOCIENTE_DB_SSLMODE=require
ECOCIENTE_DSN=postgres://avnadmin:password@host:port/user?sslmode=require